A tuple is an ordered, immutable collection of items. Tuples are similar to lists but with the key difference that their elements cannot be changed after they are created (i.e., they are immutable). Tuples are defined by placing elements inside parentheses () and separating them with commas.


Properties of Tuples:
Ordered: Elements have a specific order.
Immutable: Once created, elements cannot be modified (no adding, removing, or changing items).
Heterogeneous: A tuple can contain elements of different data types.
Allows Duplicates: Tuples can contain duplicate elements.

In [27]:
a=()
print(type(a))
my_tuple = (1, 2, 3, "Python", 5.5)
print(my_tuple[2])
t=(20,)
print(type(t))

<class 'tuple'>
3
<class 'tuple'>

In [4]:
#len(): Returns the length (number of items) in the tuple.
len(my_tuple)

5

In [9]:
#max(): Returns the maximum value from the tuple (only if all elements are comparable, e.g., all numbers or all strings).
my_tuple = (1,2,3)
print(max(my_tuple)) 

# min(): Returns the minimum value from the tuple (only if all elements are comparable)
print(min(my_tuple))

3
1

In [ ]:
#any(): Returns True if any element in the tuple is True.
my_tuple = (0, 1, 2)
any(my_tuple)  # Output: True (since 1 and 2 are truthy)

In [28]:
#all(): Returns True if all elements in the tuple are True.
my_tuple = (0,1, 2, 3)
all(my_tuple)  # Output: True (since all are non-zero)

False

In [13]:
#sorted(): Returns a sorted list of the tupleâ€™s elements (does not modify the tuple itself).
my_tuple = (3, 1, 2)
sorted(my_tuple)

[1, 2, 3]

In [30]:
#tuple(): Converts an iterable (such as a list or string) into a tuple.
tuple([1,2,3])

(1, 2, 3)

In [20]:
#count(x): Returns the number of times x appears in the tuple.

my_tuple = (1, 2, 2, 3)
my_tuple.count(2)

2

In [22]:
#index(x): Returns the index of the first occurrence of x in the tuple.
my_tuple = (1, 2, 3, 2)
my_tuple.index(2)

1

In [ ]:
#Accessing Tuple Elements: You can access elements using indexing and slicing.
my_tuple = (1, 2, 3, 4)
print(my_tuple[1])   # Output: 2 (indexing)
print(my_tuple[1:3]) # Output: (2, 3) (slicing)

In [ ]:
#Tuple Packing and Unpacking:

In [23]:
#Packing: Assigning multiple values to a tuple.
my_tuple = 1, 2, "Python" 
type(my_tuple)

tuple

In [ ]:
#Unpacking: Assigning tuple values to variables.
a, b, c = my_tuple
print(a, b, c)

In [33]:
#In Python, tuples can contain any kind of data type, including other tuples, lists, and even dictionaries.
#This flexibility makes tuples a powerful data structure for various use cases.
# Lists Inside Tuples

my_tuple = (1, 2, [3, 4])

# Accessing the list inside the tuple
print(my_tuple[2])  
print(my_tuple[2][0])
# Modifying the list inside the tuple
my_tuple[2].append(5)
print(my_tuple)

[3, 4]
3
(1, 2, [3, 4, 5])

In [ ]:
# Tuple inside a tuple

my_tuple = (1, 2, (3, 4))

# Accessing elements inside the nested tuple
print(my_tuple[2])      # Output: (3, 4)
print(my_tuple[2][1])   # Output: 4

In [ ]:
# Various data types inside a tuple

my_tuple = (1, "Python", [2, 3], {'key': 'value'}, (5.5, 6.6))

# Accessing different elements
print(my_tuple[1])      
print(my_tuple[2])      
print(my_tuple[3])      
print(my_tuple[4])

In [ ]:
# Immutable Nature of Tuples with Mutable Elements
#Even though tuples themselves are immutable, mutable objects like lists or dictionaries inside them can still be modified.
# Tuple with a dictionary
my_tuple = (1, {"name": "Alice", "age": 25})

# Modifying the dictionary inside the tuple
my_tuple[1]["age"] = 26
print(my_tuple)

In [5]:
t=(1,4,3)
print(tuple(reversed(t)))
#print(t)

(3, 4, 1)

In [4]:
t[::-1]

(3, 4, 1)